<!-- Academic Background -->


<div style="width:100%;height:60px;display:flex">
  <div style="width:calc(100% - 60px)">
    <div>
      <span style="font-weight:700">Nanjing University</span>
      <span style="font-weight:100;">(Nanjing, Jiangsu, China)</span>
      <span style="float:right;margin: auto 32px auto auto">Sep 2016 - June 2020</span>
    <div>
    </div>
      <span>(B.Eng in Software Engineering)</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;">
    <img src="./images/nju.png" style="width:48px;height:60px">
  </div>
</div>