<!-- Academic Background -->

<img src="./images/xiaochen.jpg" class="floatpic">

<h2 style="margin: auto auto 12px auto;">About Me</h2> 

<p class="cx-parapraph">
  This is <strong>Xiao Chen (陈骁)</strong>. Thank you very much for visiting my website.
</p>

<p class="cx-parapraph">
  I am a second-year master student in <strong>Computer Science</strong> at Northwestern University. Currently, I'm focusing on enforcing the type integrity in gradual typing systems, advised by <a href="https://users.cs.northwestern.edu/~chrdimo/">Prof. Christos Dimoulas</a>. 
</p>

<p class="cx-parapraph">
  Previously, I worked with <a href="https://users.cs.northwestern.edu/~simonec/">Prof. Simone Campanoni</a> on program analysis and parallelizing compilers, which is part of the <a href="https://github.com/arcana-lab/noelle">NOELLE</a> project.
</p>


<h2 style="margin: 32px auto 16px auto;">Academic Background</h2> 

<p style="margin-bottom: 0.5em!important;"><font color='red'>[Highlight]</font> I'm applying for 24 Fall PhD in <i>Programming Languages</i>.</p>

<div style="width:100%;height:72px;display:flex;margin: 0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin: auto 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Northwestern University</span>
      <span style="margin-left: -4px;font-weight:100;font-size:90%;">, Evanston, IL, US</span>
    <div>
    </div>
      <span style="font-weight:100;font-size:90%;">M.Sc in Computer Science</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2022 - Present</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nwu.png" style="width:60px;height:60px">
  </div>
</div>


<div style="width:100%;height:72px;display:flex;margin:0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin: auto 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Nanjing University</span>
      <span style="margin-left: -4px;font-weight:100;font-size:90%;">, Nanjing, Jiangsu, China</span>
    <div>
    </div>
      <span style="font-weight:100;font-size:90%;">M.Eng in Electronic Information</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2020 - Jun. 2022</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nju.png" style="width:48px;height:60px">
  </div>
</div>



<div style="width:100%;height:72px;display:flex;margin: 0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin:auto 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Nanjing University</span>
      <span style="margin-left: -4px;font-weight:100;font-size:90%;">, Nanjing, Jiangsu, China</span>
    <div>
    </div>
      <span style="font-weight:100;font-size:90%;">B.Eng in Software Engineering</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2016 - Jun. 2020</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nju.png" style="width:48px;height:60px">
  </div>
</div>

<h2 style="margin: 32px auto 16px auto;">Research Interests</h2> 

<p class="cx-parapraph">
My research interests primarily lie in the area of <strong>Programming Languages</strong>, spanning from the theoretical foundation to the implementation of compilers. Broadly speaking, I enjoy designing and implementing new language features that could facilitate the development of programmers.
</p>

<ul>
  <li>
    <p class="cx-parapraph">
      Currently, my research revolves around <a href="https://www2.ccs.neu.edu/racket/pubs/esop12-dthf.pdf">Complete Monitoring</a>, 
      a property that formalizes the flow of values in gradual typing systems using ownership annotations and propagation rules for ownership to help assess the quality 
      of blame assignments for responsible components when a runtime type mismatch occurs. 
      I've derived new syntactic techniques that help eliminate the necessity for ownership annotations by introducing collecting semantics, along with the 
      rigorous proof to show the program behavior is preserved. 
      The main focus in the future is to enhance the collecting semantics based on uniform rules about how locations are associated with types they must satisfy, 
      so that we could not only track but also enforce the type integrity of the program. 
    </p>
  </li>
  <li>
    <p class="cx-parapraph">
      One ongoing progress is a high-order dynamic semantics that could eagerly check inconsistency in the type history of each value. 
      Moreover, tracking the type history allows this semantics to achieve blame completeness and blame soundness.
      Different from the <a href="https://www2.ccs.neu.edu/racket/pubs/oopsla19-gfd.pdf">Amnesic</a> semantics, the type history is encoded in the memory instead of being explicitly recorded in the expression.
      This strategy makes this new semantics more efficient because the type history will be incrementally updated during evaluation, while being decoded and checked only when type mismatch actually happens.
    </p>
  </li>
  <li>
    <p class="cx-parapraph">
      Previously, I worked on parallelizing compilers in the <a href="https://github.com/arcana-lab/noelle">NOELLE</a> project, with the goal of mapping programs to a multicore platform gaining nontrivial speedup. Specifically, I implemented a new intraprocedural may points-to analysis, and integrated it into a privatizer that converts dynamic memory allocations and global variables into local variables while preserving program semantics to enable transformations only applicable to AllocaInsts. In addition, this may points-to analysis helped remove overly conservative loop-carried memory dependencies in the program dependence graph to eliminate unnecessary synchronizations and achieve higher speedup for parallelization.
    </p>
  </li>
</ul>

<h2 style="margin: 32px auto 16px auto;">News and Updates</h2> 

<ul>
  <li>
    <p class="cx-parapraph">
      <strong>Oct. 6, 2023</strong>: I'm lucky enough to have some instructive talks with <a href="https://maxsnew.com/">Max</a>, <a href="https://www-personal.umich.edu/~ericgio/index.html">Eric</a>, <a href="https://plg.uwaterloo.ca/~e45lee/">Edward</a>, <a href="https://continuation.passing.style/">Guannan</a> and <a href="https://pedroabreu0.github.io/">Pedro</a> in the <a href="https://mwpls2023.engin.umich.edu/">Midwest PL Summit 2023</a>.
    </p>
  </li>
  <li>
    <p class="cx-parapraph">
      <strong>Oct. 5, 2023</strong>: I'm gonna join the <a href="https://mwpls2023.engin.umich.edu/">Midwest PL Summit 2023</a> tomorrow. Ann Arbor is a very beautiful city.
    </p>
  </li>
  <li>
    <p class="cx-parapraph">
      <strong>Sep. 22, 2023</strong>: My work has been completely merged into the <a href="https://github.com/arcana-lab/noelle">NOELLE</a> project.
    </p>
  </li>
</ul>


<!-- <h2 style="margin: 32px auto 16px auto;">Work Experience</h2> 

I am interested in the theory of programming languages.  My interests also include implementing programming languages, building abstract machines, and playing with compilers for functional languages.

I currently work on behavioral boundaries, a theoretical foundation for specifying and comparing contract systems. Behavioral boundaries are a syntactic device that re-structure the common formal model of higher-order contract systems into an interposition subsystem and a monitoring subsystem. The interposition subsystem track the flow of values in programs to emit events during evaluation, whereas the monitoring subsystem enforces the contracts. By providing a uniform interface between the two subsystems, behavioral boundaries enable language designers to specify contract systems modularly. The uniform interface additionally admits a generic safey theorem, reducing the boilerplate needed when proving the correctness of contract systems. -->
