<!-- Academic Background -->

<img src="./images/xiaochen.jpg" class="floatpic">

<h2 style="margin: auto auto 12px auto;">About Me</h2> 

<p class="cx-parapraph">
  This is <strong>Xiao Chen (陈骁)</strong>. Thank you very much for visiting my website.
</p>

<p class="cx-parapraph">
  I am a second-year master student in <strong>Computer Science</strong> at Northwestern University. Currently, I am focusing on enforcing the integrity of types in the gradual typing context, advised by <a href="https://users.cs.northwestern.edu/~chrdimo/">Prof. Christos Dimoulas</a>. 
</p>

<p class="cx-parapraph">
  Previously, I worked with <a href="https://users.cs.northwestern.edu/~simonec/">Prof. Simone Campanoni</a> on program analysis and parallelizing compilers, which is part of the <a href="https://github.com/arcana-lab/noelle">NOELLE</a> project.
</p>


<h2 style="margin: 32px auto 16px auto;">Educational Experience</h2> 

<div style="width:100%;height:60px;display:flex;margin: 12px 0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin: 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Northwestern University</span>
      <span style="margin-left: -4px;font-weight:100;">, Evanston, IL, US</span>
    <div>
    </div>
      <span style="font-weight:100;">M.Sc in Computer Science</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2022 - Present</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nwu.png" style="width:60px;height:60px">
  </div>
</div>


<div style="width:100%;height:60px;display:flex;margin: 12px 0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin: 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Nanjing University</span>
      <span style="margin-left: -4px;font-weight:100;">, Nanjing, Jiangsu, China</span>
    <div>
    </div>
      <span style="font-weight:100;">M.Eng in Electronic Information</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2020 - Jun. 2022</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nju.png" style="width:48px;height:60px">
  </div>
</div>



<div style="width:100%;height:60px;display:flex;margin: 12px 0;font-family: sans-serif;">
  <div style="width:calc(100% - 60px - 16px);margin: 0;display: flex;">
    <div style="width: 75%;min-width: calc(100% - 160px);">
    <div>
      <span style="font-weight:700">Nanjing University</span>
      <span style="margin-left: -4px;font-weight:100;">, Nanjing, Jiangsu, China</span>
    <div>
    </div>
      <span style="font-weight:100;">B.Eng in Software Engineering</span>
    </div>
    </div>
    <div style="max-width:25%;">
      <span style="margin:auto;font-weight:100;">Sep. 2016 - Jun. 2020</span>
    </div>
  </div>
  <div style="width:60px;height:60px;margin:auto 0 auto auto;text-align: center;">
    <img src="./images/nju.png" style="width:48px;height:60px">
  </div>
</div>
