<div class="navigation-wrapper">
	<div class="site-name">
		<div style="text-align: center;">
			<a href="{{ site.url }}" style="font-size:24px;">
				{{ site.title }}
			</a>
		</div>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
            <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %} style="font-size:24px;">{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Hanlin CAI in 2023/05/01 -->